<!-- views/single-blog.handlebars -->
<div class="blog-post">
  <h2>{{ blogPost.title }}</h2>
  <p>By {{ blogPost.author }}</p>
  <p>{{ blogPost.content }}</p>
</div>

<div class="comments">
  <h3>Comments</h3>
  {{#each blogPost.Comments}}
    <div class="comment">
      <p>{{ text }}</p>
      <p>By {{ User.name }}</p>
    </div>
  {{/each}}
  
  <div class="comments">
  <!-- ... existing comments ... -->

  <h4>Add a Comment</h4>
  <form action="/comments/add" method="post">
    <textarea name="text" rows="4" required></textarea>
    <input type="hidden" name="blogpost_id" value="{{ blogPost.id }}">
    <button type="submit">Submit Comment</button>
  </form>
</div>
</div>
